{erl_opts, [debug_info]}.

{deps, [
          {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.1"}}}
       ]
}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{xref_checks, [undefined_function_calls, undefined_functions, deprecated_function_calls, deprecated_functions]}.
